<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="select">
            <name>addRegister</name>
            <label lang="de">Hinweis in der Registrierung anzeigen</label>
            <description lang="de">Wenn Sie alternativ eine Checkbox aktivieren möchten, finden Sie die Einstellung in den Grundeinstellungen unter Anmeldung/Registrierung.</description>
            <description lang="en">If you want to use a checkbox instead of the snippet, you can activate it in the basic settings > login/registration.</description>
            <store>
                <option>
                    <value>snippet</value>
                    <label lang="de">Textbaustein</label>
                    <label lang="en">Snippet</label>
                </option>
                <option>
                    <value>nothing</value>
                    <label lang="de">Keine Anzeige</label>
                    <label lang="en">show nothing</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addForms</name>
            <label>Hinweis in den Formularen anzeigen</label>
            <description lang="de">Wenn Sie alternativ eine Checkbox aktivieren möchten, können Sie diese über den Formular-Editor bereits implementieren. Ein Beispiel findet sich in der Doku.</description>
            <description lang="en">If you want to use a checkbox instead of a snippet, you can already use the form functionalities of shopware.</description>
            <store>
                <option>
                    <value>snippet</value>
                    <label lang="de">Textbaustein</label>
                    <label lang="en">Snippet</label>
                </option>
                <option>
                    <value>nothing</value>
                    <label lang="de">Keine Anzeige</label>
                    <label lang="en">show nothing</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addNewsletter</name>
            <label>Hinweis in der Newsletter-Registrierung anzeigen</label>
            <store>
                <option>
                    <value>snippet</value>
                    <label lang="de">Textbaustein</label>
                    <label lang="en">Snippet</label>
                </option>
                <option>
                    <value>checkbox</value>
                    <label lang="de">Checkbox</label>
                    <label lang="en">checkbox</label>
                </option>
                <option>
                    <value>nothing</value>
                    <label lang="de">Keine Anzeige</label>
                    <label lang="en">show nothing</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addComment</name>
            <label>Hinweis in den Artikelbewertungen anzeigen</label>
            <store>
                <option>
                    <value>snippet</value>
                    <label lang="de">Textbaustein</label>
                    <label lang="en">Snippet</label>
                </option>
                <option>
                    <value>checkbox</value>
                    <label lang="de">Checkbox</label>
                    <label lang="en">checkbox</label>
                </option>
                <option>
                    <value>nothing</value>
                    <label lang="de">Keine Anzeige</label>
                    <label lang="en">show nothing</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addBlog</name>
            <label>Hinweis in den Blog-Kommentaren anzeigen</label>
            <store>
                <option>
                    <value>snippet</value>
                    <label lang="de">Textbaustein</label>
                    <label lang="en">Snippet</label>
                </option>
                <option>
                    <value>checkbox</value>
                    <label lang="de">Checkbox</label>
                    <label lang="en">checkbox</label>
                </option>
                <option>
                    <value>nothing</value>
                    <label lang="de">Keine Anzeige</label>
                    <label lang="en">show nothing</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addcheckout</name>
            <label>Hinweis im Checkout anzeigen</label>
            <store>
                <option>
                    <value>snippet</value>
                    <label lang="de">Textbaustein</label>
                    <label lang="en">Snippet</label>
                </option>
                <option>
                    <value>checkbox</value>
                    <label lang="de">Checkbox</label>
                    <label lang="en">checkbox</label>
                </option>
                <option>
                    <value>nothing</value>
                    <label lang="de">Keine Anzeige</label>
                    <label lang="en">show nothing</label>
                </option>
            </store>
        </element>
    </elements>
</config>