<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="select">
            <name>addRegister</name>
            <label>Hinweis in der Registrierung anzeigen</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addForms</name>
            <label>Hinweis in den Formularen anzeigen</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addNewsletter</name>
            <label>Hinweis in der Newsletter-Registrierung anzeigen</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addComment</name>
            <label>Hinweis in den Artikelbewertungen anzeigen</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                </option>
            </store>
        </element>
        <element type="select">
            <name>addBlog</name>
            <label>Hinweis in den Blog-Kommentaren anzeigen</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                </option>
            </store>
        </element>
    </elements>
</config>